.ggwp-logo {
    width: 243px;
    height: 63px;
    background: url(/resources/image/téléchargement.png) top no-repeat;
    background-size: 100%;
    cursor: pointer;
    margin-top: 13px;
    position: absolute;
    left: 0;
    transition: all .2s;
}
